[run]
source=q2_minimap2
branch = True
omit =
    */tests*
    */__init__.py
    q2_minimap2y/_version.py
    versioneer.py

[report]
fail_under = 90
omit =
    */tests*
    */__init__.py
    q2_minimap2/_version.py
    versioneer.py
